@model IEnumerable<Proyecto_NET.Data.Entities.Product>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2>Lista de Productos</h2><table>
            <thead> 
                <tr> 
                    <th>Nombre</th> 
                    <th>ID</th> 
                </tr> 
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr> 
                        <td>@item.Name</td> 
                        <td>@item.ProductID</td>   
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <div class="row">

    </div>
</main>